#draggable1 {}
#draggable2 {}
#draggable3 {}

.g1 {
    opacity: 1;
    position: relative;
    top: 190px;
    left: 75%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 27s linear infinite;
    -moz-animation:spin 27s linear infinite;
    animation:spin 27s linear infinite;
}

.g2 {
    opacity: .6;
    position: relative;
    top: 155px;
    left: 79.25%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinrev 35s linear infinite;
    -moz-animation:spinrev 35s linear infinite;
    animation:spinrev 35s linear infinite;
}
.g3 {
    opacity: .5;
    position: relative;
    top: 105px;
    left: 58%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinrev 17.5s linear infinite;
    -moz-animation:spinrev 17.5s linear infinite;
    animation:spinrev 17.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@-moz-keyframes spinrev { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinrev { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinrev { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


