#draggable1 {}
#draggable2 {}
#draggable3 {}

.g1 {
	opacity: 1;
    position: relative;
    top: 200px;
    left: -70px;
    width: 500px;
    height: 500px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinrev 180s linear infinite;
    -moz-animation:spinrev 180s linear infinite;
    animation:spinrev 180s linear infinite;
}

.g2 {
	opacity: 1;
    position: relative;
    top: -430px;
    left: 425px;
    width: 900px;
    height: 900px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 240s linear infinite;
    -moz-animation:spin 240s linear infinite;
    animation:spin 240s linear infinite;
}
.g3 {
	opacity: 1;
    position: relative;
    top: -1950px;
    left: 770;
    width: 1000px;
    height: 1000px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinrev 280s linear infinite;
    -moz-animation:spinrev 280s linear infinite;
    animation:spinrev 280s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spinrev { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinrev { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinrev { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


