/* style sheet!*/

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


a {color:#3D85C6;
text-decoration:none;}
a:visited {color:#3D85C6;}
a:hover {color:#3D41C6;}
a:hover {cursor:url(media/point6.png), auto;}
/*@font-face {
   font-family: DINLight;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: DINBold;
   src: url(/fonts/DINBold.ttf);*/
/*}*/


html { 
    cursor:url(media/point6.png), auto;
    line-height: 1.25
}

body {
    background-color: white;
    width: 660px;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #14233B;
    font-size:22;
    font-weight: 400;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #14233B;
    font-size:22;
    font-weight: 300;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #14233B;
    font-size:16;
    font-weight: 300;
line-height: 16pt; 
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: #14233B;
    font-size:15;
    font-weight: 400;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: #14233B;
    font-size:15;
    font-weight: 400;
    color: white;
    background-color: #56C7D6;
    padding-left: 5px;
    padding-bottom: 1.5px;
}

