/* style sheet!*/

@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

a {color:#3D85C6;
text-decoration:none;}
a:visited {color:#3D85C6;}
a:hover {color:cyan;}
a:hover {cursor:url(point6.png), auto;}
/*@font-face {
   font-family: DINLight;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: DINBold;
   src: url(/fonts/DINBold.ttf);*/
/*}*/


html { 
    cursor:url(point6.png), auto;
}

body {
    background-color: white;
    width:660px;

}

h1 {
    font-family: 'Ropa Sans', sans-serif;
    color: #3D85C6;
    margin-left: 40px;
    font-size:36;
    font-weight: bold;
}

h2 {
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:16;
    font-weight: bold;
}

h3 {
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:16;
}

h4 {
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:12;
}
h5 {
 /*   z-index:2;*/
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:10;
    white-space: nowrap;
    overflow: hidden;
    width: 45em;
    animation: type 5s steps(60, end); 
}

#project {
  
}
p:nth-child(2){
  animation: type2 8s steps(60, end);
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

#gears{
}

#land {
        opacity: 0.1;
        line-height: 1;
        position: absolute;   
        bottom: 0%;
        left: 0px;}

/*title {
        line-height: .75;
        position: absolute;   
        bottom: 17.5%;
        left: 0px;}
#title2 {
        line-height: .75;
        position: absolute;   
        bottom: 0%;
        left: 16.5px;}  */      