/* style sheet!*/

@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

a {color:#3D85C6;
text-decoration:none;}
a:visited {color:#3D85C6;}
a:hover {color:cyan;}
a:hover {cursor:url(point6.png), auto;}
/*@font-face {
   font-family: DINLight;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: DINBold;
   src: url(/fonts/DINBold.ttf);*/
/*}*/

body {
    background-color: white;
    width:660px;
    cursor:url(point6.png), auto;
}

h1 {
	font-family: 'Ropa Sans', sans-serif;
    color: #3D85C6;
    margin-left: 40px;
    font-size:36;
    font-weight: bold;
}

h2 {
	font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:16;
    font-weight: bold;
}

h3 {
	font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:16;
}

h4 {
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    margin-left: 40px;
    font-size:12;
}