@import url("https://use.typekit.net/fsl6ssl.css");


a:link, a:visited {
	color: white; 
	text-decoration: none; 

}

a:hover, a:active {
	color: #FFDC5F; 
	text-decoration: none;
    cursor:grab; 
}

a {
    text-decoration: none;
    color: white;
    cursor:url(media/point.png), auto;
}

#video {
  width: 100%    !important;
  height: auto   !important;
}

html { 
    cursor:url(media/point.png), auto;
}

body {  
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #F6F6F6 1px, transparent 1px), linear-gradient(to bottom, #F6F6F6 1px, transparent 1px);
     
    background-color: white;
    /*    FF3087*/
    margin:0;
    line-height: 2;
}

div.cal {
    margin-top: 50%;
    align-content: left;
    font-family: 'urw-din', sans-serif;
    color: white;
    font-size:8;
    font-weight: 300;
    font-style: italic;
}

div.gallery {
    display: table-cell;;
    width: 20%;

}

#galimg:hover{
    border-color: #FFDC5F;
}
div.desc:hover{
    color: #FFDC5F;
}

#galimg{
    border-style: solid;
    border-color: white;
    border-width: 1.5px 1.5px 1.5px 1.5px;
}

div.gallery img {
    width: 90%;
    height: auto;
    margin-top:-10px;
    align-content: center;

}

div.desc {
    width: 90%;
    font-family: 'urw-din', sans-serif;
    color: white;
    font-size:14;
    font-weight: 300;
    text-align: left;
    line-height: 1.5; 
    margin-left: 1px;
    margin-right: 1px;
}

#wrapper {
    margin-right: 15%;
    margin-left: 15%;
    padding-right: 20px;
    padding-left: 28px;
    padding-top: 2vh;
}

#wrapperin1 {
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 20px;
    padding-left: 28px;
    margin-top: -10vh;
}

#wrapperout1 {
    width: 100vw;
    background-color: #12004E;
    height: 98.75vh;
}

#wrapperin {
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 20px;
    padding-left: 28px;
    display:inline-block;

}

#wrapperoutpink {
    width: 100vw;
    background-color: #E20057;
    /*    min-height: 100vh;*/
}

#wrapperoutblue {
    width: 100vw;
    background-color: #12004E;
    /* min-height: 100vh;*/
}


.img2 {
    display: block;
    margin: auto;
    width: 100%;
}

.img3 {
    display: block;
    margin: auto;
    width: 100%;
}

#fixed-menu {
 position: absolute;
 bottom: 0;
 right: 500px;
 /*   left: 100%;*/
}

.fixed-nav-line {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 9998;
 width: 100%;
 height: 10px;
 background-color: #56C7D6;
}

.line {
 width: 100%;
 height: 3px;
 background-color: #56C7D6;
}

#TAlogo {
  position: absolute;
  padding-left: 4%;
  padding-top: 37.5px;
}

h1 {
    font-family: 'urw-din', sans-serif;
    color: white;
    font-size:36;
    font-weight: 600;

}

h2 {
    font-family: 'urw-din', sans-serif;
    color: white;
    font-size:17;
    font-weight: 500;

}

h3 {
    font-family: 'urw-din', sans-serif;
    color: white;
    font-size:16;
    font-weight: 300;
    line-height: 26px; 

}

/*top bar*/

h4 {
    font-family: 'urw-din', sans-serif;
    color: white;
    font-size:16;
    font-weight: 600;
    line-height: 16pt; 

}

